<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">NKC Home</h1>
		</div>
		<!-- /.col-lg-12 -->
		
        
			<stats  number="6" comments="SchoolWise Report of Nanhikali" colour="primary" type="graduation-cap"></stats>
			<stats  goto="dashboard.ascattendance" number="12" comments="Average ASC Attendance" colour="primary" type="users"></stats>
			<stats  goto="dashboard.nkcsearch" number="18" comments="Nanhikali with Zero Attendance" colour="yellow" type="female"></stats>
			<stats goto="dashboard.home" number="24" comments=" Nanhikali who dint received kit" colour="red" type="briefcase"></stats>
		
		
	</div>
	<!-- /.row -->
</div>




